body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

.navbar {
  background: black;
  padding: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 40px;
}

#map {
  height: 400px;
  width: 90%;
  margin: auto;
}

.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

.auth-section {
  text-align: center;
  margin: 20px;
}
